.page-header {
    border-bottom: 1px solid #ECECEC;
            font-weight: 500;
            
                line-height: 1.15;
                letter-spacing: 0.02em;
                .logo {
                    margin-right: 93px;
                }
}

.page-header__container {
    display: flex;
    align-items: center;
}




